.groupProducts{
   background-color: rgb(172, 168, 168);
    overflow-y: scroll;
    height: 30vh;
}
.cart{
    text-align: center;
   background-color: rgb(104, 102, 102);
    width: 30%;
   color: white;
   
}
.product{
   
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
 
    
}
.product:hover{
    background-color: whitesmoke;
    color: black;
}
.product>h2{
    font-size: 15px;
    margin: 3px;
}
.product>p{
     font-size: 15px;
    margin: 3px;
}
.product>button{
    padding: 5px 13px;
    height: fit-content;
    color: white;
    
}

/**Checkout*/
.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Form>div{
    padding: 5px;
    
}
.Form>button{
    margin: 10px;
    color: white;
}